#react-header {

  .header-alert {
    margin: 0;
    padding: var(--padding-l) var(--padding-constrain);
    text-align: center;
    position: relative;

    * {
      max-width: 1320px;
      margin-left: auto;
      margin-right: auto;
    }

    *:last-child {
      margin-bottom: 0;
    }

    a {
      font-weight: bold;
    }

    button, .button {
      background: transparent !important;
      &:hover {
        background: rgba(255, 255, 255, 0.1) !important;
      }
    }

    button.close {
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0;
      border-radius: 0;
      font-size: small;
      padding: var(--padding-xs);
    }
  }

  .header-alert--warning {
    background: $hsppr-orange-dark;
    color: $gray-superlight !important;
  }

  .header-alert--notice {
    background: $hsppr-blue-100;
    color: $gray-superlight !important;
  }

  .header-alert--warning,
  .header-alert--notice {
    a {
      color: $color-white;
    }
    button, .button {
      border-color: $color-white;
    }
  }

  .header-alert--info {
    background: $gray-lighter;
    a {
      color: $hsppr-blue-100;
    }
    button, .button {
      border-color: $hsppr-blue-100;
      color: $hsppr-blue-100;
      &:hover {
        background: rgba(255, 255, 255, 0.3) !important;
      }
    }
  }

  .header-alert--warning + .header-alert--warning,
  .header-alert--notice + .header-alert--notice,
  .header-alert--info + .header-alert--info {
    border-top: 1px solid $color-white;
  }

}
