#react-lostfound-menu {
  @include header-menu;
  flex: 1;

  ul.menu {
    a {
      background: $hsppr-orange-light;
      font-weight: bold;
      text-transform: uppercase;
      font-size: var(--font-small);
      letter-spacing: .05em;
      line-height: 1.35;

      @media (min-width: query(m)) {
        line-height: 1.5;
      }

      &:hover {
        background: $hsppr-orange-darker;
      }
    }

    li:not(:last-of-type) {
      margin-right: var(--padding-xxxxs);
    }
  }

  // .show-mobile added when main menu / logo overlap (see js/hsppr.menus.js)
  // .show-mobile & {
  @media (max-width: 1149px) {
    ul.menu {
      justify-content: space-between;

      li {
        flex: 1;
        height: 100%;

        &:last-of-type {
          border-right: var(--padding-xxxxs) solid transparent;
        }

        a {
          display: flex;
          text-align: center;
          height: 100%;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
