#react-secondary-menu {
  @include header-menu;

  ul.menu {
    a {
      font-size: var(--font-small);

      &:hover {
        background: $hsppr-orange-light;
      }
    }
  }
}

// Added by Design Rangers:
#react-secondary-menu {
  li.fa-search {
    display: flex;

    &::before {
      display: none;
    }
  }

  a.fa-search {
    display: inline-block !important;
    text-indent: -999em;
    overflow: hidden;
    padding: 0 !important;

    &::before {
      font-size: 1.1em;
      padding: calc(var(--padding-xs) - 1px) var(--padding-s);
      display: inline-block;
      text-indent: 0;
      float: left;
      line-height: 1.5;
      color: white;
    }
  }

  @media (max-width: 1149px) {
    a.fa-search {
      background: rgba($hsppr-orange-light, .5);
      display: flex;
      justify-content: center;
      align-items: center;

      &::before {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.3em;
        padding: 0 var(--padding-m);
      }

    }

    li.fa-search {
      height: 100%;
    }

    li:not(.fa-search) {
      display: none;
    }
  }
}
// End Added by Design Rangers
