// Hide translate banner
// Hide translate tooltip
.VIpgJd-ZVi9od-l4eHX-hSRGPd,
.goog-te-banner-frame,
.goog-gt-tt,
.goog-tooltip {
  display: none !important;
}

body {
  top: 0 !important;
}

#google_translate_element {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 1000;
  // top: calc(100% + var(--padding-ms));
  bottom: calc(var(--padding-ms) + 2px);
  right: calc(var(--padding-constrain) + 28px);

  @media (min-width: 430px) {
    right: calc(var(--padding-constrain) + 42px + var(--padding-xxs));
  }

  @media (min-width: query(m)) {
    position: static;
    margin-right: var(--padding-s);
    height: auto;
  }

  .skiptranslate {
    font-size: 0;
    font-family: "ingra", Sans-serif;
  }

  .goog-te-combo {
    margin: 0;
    font-size: var(--font-small);
    font-family: "ingra", Sans-serif;
    background-color: $hsppr-orange-light;
    border: 0;
    border-radius: 0;
    color: white;
    background-image: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path fill="none" d="M0 0h24v24H0V0z"/><path fill="white" d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/>
    </svg>');
    background-repeat: no-repeat;
    background-position: calc(100% - 0.4em) center;
    background-size: 1.6em;
    height: 42px;
    padding-right: 2em;
    appearance: none;

    @media (min-width: query(m)) {
      height: auto;
    }

    &:hover {
      background-color: $hsppr-orange-darker;
    }

    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }

  .goog-logo-link {
    display: none;
  }
}
