// Primary Colors
$hsppr-orange: #d8723c;
$hsppr-blue: #87ADB2;
$hsppr-blue-100: #327881;
$hsppr-blue-75: #559CA2;
$hsppr-blue-50: #8FBCC1;
$hsppr-blue-25: #C8DFE0;

// Secondary Colors
$hsppr-orange-light: #D8723C;
$hsppr-orange: #F59E1E;
$hsppr-orange-dark: #C35820;
$hsppr-orange-darker: #B44D17;

$hsppr-green: #838A0B;
$hsppr-green-light: #A3A945;

// Semantic Colors
$hsppr-volunteer: $hsppr-orange;
$hsppr-lost-found: $hsppr-blue-75;
$hsppr-adoption: $hsppr-green-light;

// Grayscale
$gray-superlight: #F3F3F3;
$gray-lightest: #F7F3EF;
$gray-lighterest: #EAEAEA;
$gray-lighter: #E8E6E3; // #E8E6E3
$gray-light: #D2D1CC;
$gray-medium: #A4A197;
$gray-dark: #87847A;
$gray-darker: #3A3935;

// Black & White
$color-black: #000000;
$color-white: #FFFFFF;

// Status Colors
$color-red: #cc3737;
$color-green: #52ad43;
$color-yellow: #dad200;
