/// Base padding for site
/// @type Number
$site-p: px-to-vw(48, $site-vw-ceiling);

/// Padding values
/// @type Array
$padding: (
    none: (
        vw: 0,
        px: 0,
    ),
    xxxxs: (
      vw: $site-p * .075,
      px: 2px
    ),
    xxxs: (
      vw: $site-p * .15,
      px: 3px
    ),
    xxs: (
      vw: $site-p * .25,
      px: 6px
    ),
    xs: (
        vw: $site-p * .375,
        px: 9px
    ),
    s: (
        vw: $site-p * .5,
        px: 12px
    ),
    ms: (
        vw: $site-p * .75,
        px: 18px
    ),
    m: (
        vw: $site-p,
        px: 24px
    ),
    ml: (
        vw: $site-p * 1.25,
        px: 30px
    ),
    l: (
        vw: $site-p * 1.5,
        px: 36px
    ),
    xl: (
        vw: $site-p * 2,
        px: 48px
    ),
    xxl: (
        vw: $site-p * 2.5,
        px: 72px
    ),
    xxxl: (
        vw: $site-p * 6,
        px: 144px
    ),
    constrain: (
        vw: $site-p,
        px: 24px
    ),
    grid: (
        vw: $site-p * .75,
        px: 18px
    ),
);
