/// Values for media queries
/// @type Array
$site-queries: (
    s: 768px,
    m: 1150px,
    l: 1320px,
);

/// Helper function to get query from site-queries array.
///
/// @param {String} $name - Key of desired query
/// @return {String} Query value
@function query($name) {
  @return map-get($site-queries, $name);
}

/// Max width for site
/// @type Number
$site-w: query(l);

/// Ceiling for vw scaling
/// @type Number
$site-vw-ceiling: $site-w;

/// Max header height
/// @type vw
$site-header-vw: px-to-vw(80, $site-w);

/// Minimum header height
/// @type px
$site-header-px: 50px;

/// Site default color palette
// $site-palette: map-get($palettes, 'default');

/// Targets for site
/// @type Array
$site-targets: (
  tabs: '[id*="local-tasks"]',
  menu-desktop: '[id*="react-main-menu"]',
  menu-mobile: '#block-mainnavigation-mobile',
  menu-user: '[id*="account-menu"]',
  menu-footer: '#block-starter-subtheme-footer',
  logo: '[id*="branding"]',
  title: '[id*="page-title"]',
);

/// Helper function to get target from site-targets array.
///
/// @param {String} $name - Key of desired target
/// @return {String} Target string
@function target($name) {
  @return map-get($site-targets, $name);
}

/// Height for page headers
/// @type Number
$page-header-h: 15vh;

/// Padding for page headers
/// @type Number | Variable
$page-header-p: var(--padding-xxs);

/// Max width for constrained text
/// @type Number
$page-text-w: $site-w / 2;


/// Path to Starter theme files from .css files
/// @type String
$starter-path: '/themes/contrib/starter';
