/// Font Stack
/// @type Font
$font-primary: ingra, sans-serif;
$font-secondary: cabrito-normal, sans-serif;
$font-monospace: Consolas, monospace;
$fa: "Font Awesome 5 Free";

/// Header font family
/// @type Font
$font-header: $font-primary;

/// Header font family
/// @type Font
$font-body: $font-primary;

/// Base font size
/// @type Number
$font-size: px-to-vw(16, $site-vw-ceiling);

/// Base font margin
/// @type Number
$font-margin: .75em;

/// Base font line height
/// @type Number
$font-line-height: 1.5;

/// Font size values
/// @type Array
$font-sizes: (
    h1: (
        vw: $font-size * 3.5,
        px: 40px
    ),
    h2: (
        vw: $font-size * 3,
        px: 28px
    ),
    h3: (
        vw: $font-size * 2.5,
        px: 24px
    ),
    h4: (
        vw: $font-size * 2.25,
        px: 20px
    ),
    h5: (
        vw: $font-size * 1.75,
        px: 18px
    ),
    h6: (
        vw: $font-size * 1.25,
        px: 14px
    ),
    p: (
        vw: $font-size,
        px: 14px
    ),
    small: (
        vw: $font-size * .85,
        px: 12px
    ),
    smaller: (
        vw: $font-size * .75,
        px: 11px
    ),
    tiny: (
        vw: $font-size * .5,
        px: 10px
    ),
);
